<ion-view view-title="Bem vindo!" class="intro"  hide-nav-bar="true" >
        <ion-slide-box on-slide-changed="slideChanged(index)" ng-show="exibe">
          <ion-slide>
            <h3>Bem vindo</h3>
            <div id="logo">
              <img src="img/logo_w.png">
            </div>
             <div class="spacer" style="width: 100%; height: 5%;"></div>
            <p>
              Com este aplicativo você saberá mais <br/> sobre o Diabetes  e como manter<br/> sua qualidade de vida.
            </p>
             <div class="spacer" style="width: 100%; height: 8%;"></div>
              <button class="button button-positive "
                  ng-click="startApp()" ng-show="!slideIndex">
           Pula introdução
          </button>
         <div class="spacer" style="width: 100%; height: 5%;"></div>
          
              <button class="button  button-clear button-block button-white"
                  ng-click="NoShow()" ng-show="!slideIndex">
           Não exibir mais
          </button>
          </ion-slide>
          <ion-slide class="padding">
            <h3>Com o Guia do Diabético você pode:</h3>
             <p>&nbsp;&nbsp;&nbsp;</p>
          <p class="text-left "><i class="icon ion-checkmark-circled positive"></i> Se informar sobre o Diabetes</p>
          <p class="text-left"><i class="icon ion-checkmark-circled positive"></i> Obter dicas</p>
          <p class="text-left"><i class="icon ion-checkmark-circled positive"></i> Acompanhar suas medições de glicose</p>
          
          </ion-slide>
          <ion-slide>
            <h3>Viva com saúde!</h3>
            <p>&nbsp;&nbsp;&nbsp;</p>
            <p>
              Este aplicativo apenas fornece informações gerais sobre a patologia. <br/>
              Sempre consulte seu médico antes de fazer mudanças em sua dieta ou atividades físicas!
            </p>
            <p>&nbsp;&nbsp;&nbsp;</p>
              <p>&nbsp;&nbsp;&nbsp;</p>
            <button class="button button-positive  no-animation" ng-click="startApp()">
           Comece a utilizar
          </button>
          </ion-slide>
        </ion-slide-box>
      </ion-view>
