<ion-view title="Emergência" hide-nav-bar="false" id="page8" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div class="spacer" style="width: 283.2px; height: 16px;"></div>
        <div class="">
            <img src="img/logo.png" width="100%" height="auto" class="logo" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 100%; height: 24px;"></div>
        <a id="sucesso-button21" class=" button button-assertive  button-block  ">EM CASO DE EMERGÊNCIA</a>
        <div class="spacer" style="width: 100%; height: 50px;"></div>
        <h4 class="text-center">Em casos de superdosagens entrar em contato com o CEATOX de sua cidade.</h4>
        <h4 class="text-center assertive">CEATOX:  (85) 3255-5050/3255-5012</h4>
        <div class="spacer" style="width: 283.2px; height: 61px;"></div>
        <p class="text-center">
        <a id="sucesso-button21" href="tel:853255-5050" class=" button button-balanced "><span class="icon ion-ios-telephone pull-left"></span> LIGAR PARA CEATOX - CE</a>
            </p>
        <div class="spacer" style="width: 283.2px; height: 61px;"></div>
       
    </ion-content>
</ion-view>